@font-face {
  font-family: Montserrat;
  src: url(./Montserrat.ttf);
}

@font-face {
  font-family: Geologica;
  src: url(./Geologica.ttf);
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  } 
}

:root {
  --header-height: 80px;
  --color-main-light: #f2f2f2;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-family: Geologica, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

section {
  scroll-margin-top: var(--header-height);
}

a {
  text-decoration: none;
  color: currentColor;
}

/* ___________________________________________________ */

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: var(--header-height);
  background-color: #eff3eb;
  box-shadow: 0 0 10px 3px rgba(35, 44, 27, 0.444) ;
  z-index: 9999;
}

.header__headlink {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  user-select: none;
}

#header__logo-img {
  height: 100%;
}

#header__logo-name {
  text-align-last: left;
  font-family: Montserrat;
  font-size: 0.7em;
  letter-spacing: 0.1em;
}

#header__navblock {
  width: 30%;
}

#header__navlist {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.header_navlink {
  min-width: fit-content;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  color: #191c19;
  font-size: 1.2em;
  font-weight: 500;
  text-shadow: 0 0 1px #8e8e8e;
  cursor: pointer;
  user-select: none;
  transition: all .1s;
}

.header_navlink:hover {
  background-color: #ffffff6f;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

#header__info-div {
  display: flex;
  gap: 40px;
}

.header__infospan {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px;
  font-size: 1em;
}

.header__infospan img {
  height: 16px;
  width: 16px;
}

/* ___________________________________________________ */

#welcome::before {
  position: absolute;
  content: " ";
  width: inherit;
  height: inherit;
  background-image: url(./bg_laboratory_blured_darkened.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

#welcome {
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-attachment: fixed;
  margin-top: var(--header-height);
}

#welcome__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome__content > * {
  padding: 20px;
  margin: 0 15vw;
  color: #dedede;
}

#welcome__content > h1 {
  font-family: Montserrat;
  font-size: min(7vw, 7vh);
  letter-spacing: 0.1em;
  line-height: 1.3em;
}

#welcome__content > h2 {
  font-size: min(2.4vw, 3.2vh);
  line-height: 1.4em;
  color: #cdd5c0;
  width: 60vw;
  min-width: 420px;
  
}

.welcome__first-letter {
  color: #a8ca84;
}

#welcome__scrolltip {
  position: absolute;
  bottom: 10px;
  left: 48%;
  width: 5vw;
  opacity: 0.2;
  animation: arrow 2s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 20px;
  }
}

/* ___________________________________________________ */

#about {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #e3efd6;
  box-shadow: 0 0 20px rgb(168, 188, 156) inset;
}

.about__infocard {
  width: 70%;
  display: flex;
  gap: 30px;
  align-items: center;
  
}

.about__infocard > * {
  margin: 1vw;
}

.about__text {
  width: 80%;
  align-self: center;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  line-height: 1.25em;
}

.about__img {
  width: 150px;
  opacity: 0.4;
}

/* ___________________________________________________ */

#services {
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  background-color: #eff3eb;
  display: flex;
  justify-content: center;
}

#services__container {
  width: 80%;
  display: flex;
}

#services__container > *,
#services__text > * {
  margin: 1vw;
}

#services__text {
  width: 50%;
  font-size: 1.2em;
}

#services__list > li {
  margin: 20px;
}

#services__collage {
  width: 30vw;
  display: grid;
  grid: 200px 200px / 200px 200px;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#services__collage > * {
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
/* ___________________________________________________ */

#contacts {
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: #e3efd6;
  box-shadow: 0 0 20px rgb(168, 188, 156) inset;
}

#contacts__container {
  width: 80%;
  display: flex;
  align-self: center;
  justify-content: space-around;
}

#contacts__container > * {
  margin: 1vw;
}

#contacts__info h3 {
  margin: 20px 0;
}

#contacts__info ul {
  list-style-type: none;
}

#contacts__info ul li {
  padding: 5px;
}

#contacts__info ul img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/* ___________________________________________________ */

footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  background-color: var(--color-main-light);
  padding-bottom: 16px;
}

footer > * {
  margin: 1vw;
}

#footer__company {
  display: flex;
  gap: 20px;
  align-items: center;
}

#footer__company img {
  height: 48px;
  width: 48px;
}

#footer__contacts {
  display: flex;
  gap: 4vw;
}

#footer__contacts ul {
  list-style-type: none;
}

#footer__contacts ul li{
  padding: 5px;
  display: flex;
  align-items: center;
}

#footer__contacts ul li a {
  color: currentColor;
}

#footer__contacts ul img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

#footer__creator {
  position: absolute;
  bottom: 0;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.33);
  margin: 2px;
}

footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.33);
}

footer a:hover {
  color: rgba(0, 0, 0, 0.66);
}

/* ___________________________________________________ */

@media screen and (max-width: 1440px) {

  #header__info-div {
    flex-direction: column;
    gap: 0;
    font-size: 0.8em;
  }

  #services__collage {
    grid: 200px 200px 200px 200px / 200px;
  }
}