@font-face {
  font-family: Montserrat;
  src: url(./Montserrat.ttf);
}

@font-face {
  font-family: Geologica;
  src: url(./Geologica.ttf);
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  } 
}

:root {
  --header-height: 80px;
  --color-main-light: #f2f2f2;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-family: Geologica, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

section {
  scroll-margin-top: var(--header-height);
}

a {
  text-decoration: none;
  color: currentColor;
}

/* ___________________________________________________ */

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: var(--header-height);
  background-color: #eff3eb;
  box-shadow: 0 0 10px 3px rgba(35, 44, 27, 0.444) ;
  z-index: 9999;
}

.header__headlink {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  user-select: none;
}

#header__logo-img {
  height: 100%;
}

#header__logo-name {
  text-align-last: left;
  font-family: Montserrat;
  font-size: 0.7em;
  letter-spacing: 0.1em;
}

#header__navblock {
  width: 30%;
}

#header__navlist {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.header_navlink {
  min-width: fit-content;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  color: #191c19;
  font-size: 1.2em;
  font-weight: 500;
  text-shadow: 0 0 1px #8e8e8e;
  cursor: pointer;
  user-select: none;
  transition: all .1s;
}

.header_navlink:hover {
  background-color: #ffffff6f;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

#header__info-div {
  display: flex;
  gap: 40px;
}

.header__infospan {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px;
  font-size: 1em;
}

.header__infospan img {
  height: 16px;
  width: 16px;
}

.header__infospan a:hover {
  text-shadow: 0 0 3px #838f6ea4;
}

/* ___________________________________________________ */

#wa-fixed-button {
  position: fixed;
  right: 3vw;
  bottom: 3vh;
  height: max(min(8vw, 8vh), 48px);
  z-index: 9999;
}

#wa-fixed-button > img {
  height: 100%;
  opacity: 0.6;
}

/* ___________________________________________________ */

#welcome::before {
  position: absolute;
  content: " ";
  width: inherit;
  height: inherit;
  background-image: url(./bg_laboratory_blured_darkened.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

#welcome {
  width: 100%;
  height: calc(100dvh - var(--header-height));
  background-attachment: fixed;
  margin-top: var(--header-height);
}

#welcome__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome__content > * {
  padding: 20px;
  margin: 0 15vw;
  color: #dedede;
}

#welcome__content > h1 {
  font-family: Montserrat;
  font-size: min(7vw, 7vh);
  letter-spacing: 0.1em;
  line-height: 1.3em;
}

#welcome__content > h2 {
  font-size: min(2.4vw, 3.2vh);
  line-height: 1.4em;
  color: #cdd5c0;
  width: 60vw;
  min-width: 420px;
}

.welcome__first-letter {
  color: #a8ca84;
}

#welcome__scrolltip {
  position: absolute;
  bottom: 10px;
  left: 48%;
  width: 5vw;
  opacity: 0.2;
  animation: arrow 2s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 20px;
  }
}

/* ___________________________________________________ */

#about {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #e3efd6;
  box-shadow: 0 0 20px rgb(168, 188, 156) inset;
}

.about__infocard {
  width: 70%;
  display: flex;
  gap: 30px;
  align-items: center;
}

.about__infocard > * {
  margin: 1vw;
}

.about__text {
  width: 80%;
  align-self: center;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  line-height: 1.25em;
}

.about__img {
  width: 150px;
  opacity: 0.4;
}

/* ___________________________________________________ */

#services {
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  background-color: #eff3eb;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  justify-content: center;
}

#services__container-shortinfo {
  width: 80%;
  display: flex;
  align-self: center;
}

#services__container-shortinfo > *,
#services__text > * {
  margin: 1vw;
}

#services__text {
  width: 50%;
  font-size: 1.2em;
}

#services__list > li {
  margin: 20px;
  list-style-type: "※   ";
}

#services__collage {
  width: 30vw;
  display: grid;
  grid: 200px 200px / 200px 200px;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#services__collage > * {
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

#services__container-longinfo {
  width: 80%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-self: center;
  padding-left: 4.5em;
}

#services__container-longinfo h4 {
  font-size: 1.1em;
}

#services__container-longinfo summary {
  display: flex;
  margin: 5px 0;
  padding: 5px;
  background-color: #fafff8;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  transition: all .1s;
}

#services__container-longinfo summary #text {
  align-self: center;
}

#services__container-longinfo summary::marker {
  display: none;
  content: "";
}

#services__container-longinfo summary:hover {
  background-color: #9dd27733;
}

#services__container-longinfo summary::before {
  content: "";
  display: inline-block;
  background: url(./icon_arrow-right-circle.svg);
  background-size: 1.2em;
  width: 1.2em; 
  height: 1.2em;
  margin: 0 5px;
  transition: all .2s;
}

#services__container-longinfo details[open] > summary::before {
  transform: rotate(90deg);
}

#services__container-longinfo ul li {
  margin: 5px 3vw;
}

#services__container-longinfo ul li:last-of-type {
  padding-top: 10px;
  list-style-type: none;
  font-style: italic;
}

/* ___________________________________________________ */

#contacts {
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: #e3efd6;
  box-shadow: 0 0 20px rgb(168, 188, 156) inset;
}

#contacts__container {
  width: 80%;
  display: flex;
  align-self: center;
  justify-content: space-around;
}

#contacts__container > * {
  margin: 1vw;
}

#contacts__info h3 {
  margin: 20px 0;
}

#contacts__info ul {
  list-style-type: none;
}

#contacts__info ul li {
  padding: 5px;
}

#contacts__info ul img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

#contacts__info a:hover {
  text-shadow: 0 0 3px #688532be;
}

/* ___________________________________________________ */

footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  background-color: var(--color-main-light);
  padding-bottom: 16px;
}

footer > * {
  margin: 1vw;
}

#footer__company {
  display: flex;
  gap: 20px;
  align-items: center;
}

#footer__company img {
  height: 48px;
  width: 48px;
}

#footer__contacts {
  display: flex;
  gap: 4vw;
}

#footer__contacts ul {
  list-style-type: none;
}

#footer__contacts ul li{
  padding: 5px;
  display: flex;
  align-items: center;
}

#footer__contacts ul li a {
  color: currentColor;
}

#footer__contacts ul li a:hover {
  text-shadow: 0 0 3px #808578be;
}

#footer__contacts ul img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

#footer__creator {
  position: absolute;
  bottom: 0;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.33);
  margin: 2px;
}

footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.33);
}

footer a:hover {
  color: rgba(0, 0, 0, 0.66);
}

/* ___________________________________________________ */

@media screen and (max-width: 1440px) {

  #header__info-div {
    flex-direction: column;
    gap: 0;
    font-size: 0.8em;
  }

  #services__collage {
    grid: 200px 200px 200px 200px / 200px;
  }
}

@media screen and (max-width: 1100px) {
  #contacts__container {
    flex-direction: column;
    align-items: center;
  }

  #contacts__info {
    width: 560px;
  }
}

@media screen and (max-width: 848px) {

  header {
    padding: 0 2vw;
    justify-content: start;
    gap: 20px;
  }

  #header__logo-img {
    height: 70%;
  }
  
  #header__logo-name {
    font-size: 0.5em;
    letter-spacing: 0.08em;
  }

  .header__headlink {
    gap: 10px;
  }

  #header__navblock {
    width: 50%;
  }

  #services__text {
    font-size: 1em;
  }

  #services__collage {
    grid: 160px 160px 160px 160px / 160px;
  }

  #services__container-longinfo {
    padding-left: 0;
  }
}

@media screen and (max-width: 704px) {

  header {
    justify-content: center;
    gap: 20px;
  }
  
  #header__info-div, 
  #header__logo-name {
    display: none;
  }

  #header__navblock {
    width: 80%;
  }

  #header__navlist {
    font-size: 90%;
    justify-content: center;
  }



  #welcome__content > * {
    margin: 0;
    padding: 10px 5vw;
  }

  #welcome__content > h2 {
    font-size: min(3.2vw, 3.2vh);
    min-width: 80%;
  }

  .about__infocard {
    width: 90%;
    flex-direction: column;
  }

  .about__text {
    width: 80%;
    align-self: center;
    font-size: 1.0em;
    letter-spacing: 0.5px;
    line-height: 1.25em;
  }
  
  .about__img {
    width: max(10vw, 10vh);
    opacity: 0.4;
  }



  #services__container-shortinfo {
    flex-direction: column;
    align-items: center;
  }

  #services__collage {
    grid: 80px / 80px 80px 80px 80px;
  }

  #services__text {
    width: 100%;
    font-size: 0.8em;
  }



  #contacts__container {
    gap: 10px;
  }

  #contacts__info {
    width: 100%;
    font-size: 0.9em;
  }

  iframe {
    width: 100%;
  }



  footer {
    padding-bottom: 32px;
  }

  #footer__company {
    gap: 10px;
    flex-direction: column;
  }

  #footer__company p {
    text-align: center;
    font-size: 0.8em;
  }

  #footer__contacts {
    flex-direction: column;
    gap: 0vw;
    font-size: 0.8em;
  }

  #footer__contacts ul li {
    padding: 3px;
  }

  #footer__creator {
    font-size: 0.7em;
    padding: 2px;
  }
}